#easytab1.menu {background-color:#b0c4de;border-bottom:1px solid #d7d7d7; height:23px;width:830px;}
#easytab2.menu {background-color:#b0c4de;border-bottom:1px solid #d7d7d7; height:23px;width:320px;}
.menu ul {margin:0px; padding:0px; list-style:none; text-align:left;}
.menu li {display:inline; line-height:23px;}
.menu li a {color:#000000; text-decoration:none; padding:5px 5px 6px 5px; }
.menu li a.tabactive {border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; color:#000000; background-color:#ffffff; font-weight:bold; position:relative;}
#tabcontent1,#tabcontent2,#tabcontent3,#tabcontent4{border:1px solid #ececec; max-height:285px; overflow:auto; width:798px; text-align:left; padding:10px 15px; margin-bottom:5px;}
#anothercontent1,#anothercontent2{border:1px solid #ececec; max-height:175px; overflow:auto; width:288px; text-align:left; padding:10px 15px; margin-bottom:5px;}
