/* this is the global css file 
 * this contains the css code which can/will be added in all files */


/* currently created for AcadsToday heading in header 
 * this makes a link's color black and no underline in all four cases
 * which are hovering, visited, normal unvisited link, and currently selected link*/
/*a:hover.no-underline, a:visited.no-underline, a:link.no-underline, a:active.no-underline {
	text-decoration:none;
	color:#000000;
}*/



/* css to stretch the page so that footer is always at the bottom */
html, body {
	height: 100%;
	width: 80%;
}

.wrapper {
	min-height: 100%;
	height: auto;
	margin: 0 auto -4em;
}

.footer, .push {
	height: 5em;
}


/* for footer links */
/* Footer Links */
#footer {
	border-top: 1px solid;
	float: bottom;
}
#footer ul {
	margin: 0.25em 0;
	padding: 0.6em 0;
	list-style: none;
}
#footer li {
	display: inline;
	margin: 0;
	padding: 0 0.2em 0 0.5em;
	border-left: 1px solid;
}
#footer .first {
	padding-left: 0;
	border: 0;
}
#copyright {
	float: left;
}
#footerLinks {
	float: right;
}



/* panels */
#leftpanel {
	float: left;
	width: 200px;
}
#rightpanel {
	padding-top: 0.5em;
	float: right;
	width: 300px;
}
#center {
	width: 680px;
	float: left;
}

.center {
	width: 680px;
	float: left;
}

.searchform {
	padding-left: 1em;
}


/* main forms on add pages (add project, add course etc.) */
.leftPad {
	padding-left: 2em;
}

/*for lists of courses, instructors, users etc. */
#list th
{
	text-align:center;
	background-color:#0B2647;
	padding:15px;
	color:#FFFFFF;
}

#list td
{
	background-color:#b0c4de;
	text-align:center;
	padding:15px;
}

#list td.submit
{
	background-color:#FFFFFF;
	text-align:left;
	padding:15px;
	padding-left:5px;
	
}


/*for left table in home of user */
#leftlist a
{
	text-decoration:none;
}

#leftlist th
{
	text-align:left;
	background-color:#b0c4de;
	padding:5px;
	padding-left:10px;
}

#leftlist td
{
	text-align:left;
	padding:2px;
	padding-left:10px;
}

#leftlist td.submit
{
	background-color:#FFFFFF;
	text-align:left;
	padding:15px;
	padding-left:5px;
	
}

/* table of add project */
#protable td
{
	text-align:left;
	padding:4px;
}

/* for error div*/
.error
{
	color:#FF0000;
}

/* logo in header */
#logo
{
	position:relative;
    float:left;
    padding-left:2em;
}


/* news page */
.newsitem
{
	background-color:#b0c4de;
	margin:0 10px 10px 0;
	padding:10px 10px 0.5px 15px;
	
}

.smalltext
{
	font-size:12px;
}
